@model PropertyServiceViewModel

<div class="col-md-4">
    <div class="card mb-3">
        <img class="card-img-top" src="@Model.ImageUrl" alt="Property Image">
        <div class="card-body text-center">
            <h4>@Model.Title</h4>
            <h6>Address: <b>@Model.Address</b></h6>
            <h6>Description: <b>@Model.Description</b></h6>
            <h6>
                Price:
                <b>@($"{Model.Price:f2}") BGN</b>
            </h6>
            <h6>
                Square Meters:
                <b>@($"{Model.SquareMeters:f2}") m2</b>
            </h6>
            <br />
            <a asp-controller="Property" asp-action="Details" asp-route-id="@Model.Id"
               class="btn btn-info text-black">Details</a>
            @if (User.Identity!.IsAuthenticated)
            {
                <a class="btn btn-warning" asp-controller="Property" asp-action="Edit"
               asp-route-id="@Model.Id">Edit</a>
                <a class="btn btn-danger" asp-controller="Property" asp-action="Delete"
               asp-route-id="@Model.Id">Delete</a>
            }
        </div>
    </div>
</div>