@model PostServiceViewModel

<div class="col-md-4">
    <div class="card mb-3">
        <div class="card-body">
            <h4>Name of sender: <b>@Model.Sender</b></h4>
            <hr />
            <p></p>
            <h6>Content: <b>@Model.Content </b></h6>
            <hr />
            <p></p>
            <h6>Published on: <b>@Model.Date</b></h6>
            <br />
            <form>
                <div class="navbar-collapse collapse d-sm-inline-flex">
                    @{
                        var userId = User.Claims?.FirstOrDefault(x => x.Type == ClaimTypes.NameIdentifier)?.Value.ToLower();
                        if (userId == Model.AuthorId?.ToLower() || User.IsInRole(AdministratorRoleName))
                        {
                            <div class="mt-2 mb-2 m-lg-2">
                                <button asp-area="" class="btn btn-warning mt-2 mb-2 m-lg-2" asp-controller="Post" asp-action="Edit"
                                asp-route-id="@Model.Id">
                                    Edit
                                </button>
                            </div>
                            <div class="mt-2 mb-2 m-lg-2">
                                <button asp-area="" class="btn btn-danger text-black mt-2 mb-2 m-lg-2" asp-controller="Post" asp-action="Delete"
                                asp-route-id="@Model.Id">
                                    Delete
                                </button>
                            </div>
                        }
                    }
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
