@model PropertyServiceViewModel

<div class="col-md-4">
    <div class="card mb-3">
        <img class="card-img-top" src="@Model.ImageUrl" alt="Property Image">
        <div class="card-body text-center">
            <h4>@Model.Title</h4>
            <h6>Address: <b>@Model.Address</b></h6>
            <h6>Description: <b>@Model.Description</b></h6>
            <h6>
                Price:
                <b>@($"{Model.Price}") BGN</b>
            </h6>
            <h6>
                Square Meters:
                <b>@($"{Model.SquareMeters}") m2</b>
            </h6>
            <br />
            <form>
                <a class="btn btn-success text-black" asp-controller="Property" asp-action="Details" asp-route-id="@Model.Id">Details</a>
            </form>
            <form>
                <a class="btn btn-success text-black" asp-controller="Post" asp-action="Index" asp-route-id="@Model.Id">Posts</a>
            </form>
            
            
            @*<form class="nav-item mt-4 mb-3 m-lg-2">
                <button class="btn btn-outline-primary text-black" asp-area="" asp-controller="Post" asp-action="Index">Posts</button>
            </form>*@
        </div>
    </div>
</div>