@model PropertyServiceViewModel

<div class="col-md-4">
    <div class="card mb-3">
        <img class="card-img-top" src="@Model.ImageUrl" alt="Property Image">
        <div class="card-body text-center">
            <h4>@Model.Title</h4>
            <h6>Address: <b>@Model.Address</b></h6>
            <h6>Description: <b>@Model.Description</b></h6>
            <h6>
                Price:
                <b>@($"{Model.Price:f2}") BGN</b>
            </h6>
            <h6>
                Square Meters:
                <b>@($"{Model.SquareMeters:f2}") m2</b>
            </h6>
            <h6>Published on: <b>@Model.Date</b></h6>
            <br />
            <form>
                <div class="navbar-collapse collapse d-sm-inline-flex">
                    <div class="mt-2 mb-2 m-lg-2">
                        <button asp-area="" class="btn btn-info" asp-controller="Property" asp-action="Details"
                                asp-route-id="@Model.Id">
                            Details</button>
                    </div>
                    <div class="mt-2 mb-2 m-lg-2">
                        <button asp-area="" class="btn btn-primary text-black" asp-controller="Post" asp-action="All"
                                asp-route-id="@Model.Id">
                            Posts
                        </button>
                    </div>
                    @if (User.IsInRole(AdministratorRoleName))
                    {
                        <div class="mt-2 mb-2 m-lg-2">
                            <button asp-area="" class="btn btn-warning" asp-controller="Property" asp-action="Edit"
                                asp-route-id="@Model.Id">
                                Edit
                            </button>
                        </div>
                        <div class="mt-2 mb-2 m-lg-2">
                            <button asp-area="" class="btn btn-danger text-black" asp-controller="Property" asp-action="Delete"
                                asp-route-id="@Model.Id">
                                Delete
                            </button>
                        </div>
                    }
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}