@model DetailsPropertyServiceModel

@{
    ViewBag.Title = "Property Details";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="container" style="display: inline">
    <div class="row card card-group">
        <div class="col-4">
            <img class="card card-img-top card-body" style="width: 20rem;"
                 src="@Model.PropertyDto!.ImageUrl" alt="House Image">
        </div>
        <div class="card col-8 border-0">
            <p style="font-size: 25px;"><u>@Model.PropertyDto.Title</u></p>
            <p>Located in: <b>@Model.PropertyDto.Address</b></p>
            <p>
                Price:
                <b>@($"{Model.PropertyDto.Price:f2}") BGN</b>
            </p>
            <p>@Model.PropertyDto.Description</p>
            <p>Type of property: <b>@Model.PropertyDto.PropertyType</b></p>
            <p></p>
            <div class="card card-img-top" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Owner Info:</h5>
                    <img src="@Model.PropertyDto.User.ProfilePicture" class="rounded-circle" width="100" alt="">
                    <p class="card-text">First Name: @Model.PropertyDto.User.FirstName</p>
                    <p class="card-text">LastName: @Model.PropertyDto.User.LastName</p>
                    <p class="card-text"><a href="mailto: @Model.PropertyDto.User.Email">Email: @Model.PropertyDto.User.Email</a></p>
                    <p class="card-text"><a href="tel: @Model.PropertyDto.User.PhoneNumber">Phone Number: @Model.PropertyDto.User.PhoneNumber</a></p>
                </div>
            </div>
        </div>
    </div>

    <hr />
    <partial name="_SignalRPartial" />
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
        }
