@model DetailsPropertyServiceModel

@{
    ViewBag.Title = "Property Details";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="container" style="display: inline">
    <div class="row">
        <div class="col-4">
            <img class="card-img-top" style="width: 20rem;"
                 src="@Model.ImageUrl" alt="House Image">
        </div>
        <div class="card col-8 border-0">
            <p style="font-size: 25px;"><u>@Model.Title</u></p>
            <p>Located in: <b>@Model.Address</b></p>
            <p>
                Price:
                <b>@($"{Model.Price:f2}") BGN</b>
            </p>
            <p>@Model.Description</p>
            <p>Category: <b>@Model.PropertyType</b></p>
            <p></p>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Owner Info:</h5>
                    <p class="card-text">First Name: @Model.User.FirstName</p>
                    <p class="card-text">LastName: @Model.User.LastName</p>
                    <p class="card-text">Email: @Model.User.Email</p>
                    <p class="card-text">Phone Number: @Model.User.PhoneNumber</p>
                </div>
            </div>
            <partial name="_SignalRPartial" />
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}