@model IEnumerable<PropertyViewModel>

@{
    ViewBag.Title = "My Properties";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="text-center row">
    @foreach (var property in Model)
    {
        <div class="card col-4" style="width: 20rem; ">
            <img class="card-img-top" style="width: 18rem;"
             src="@property.ImageUrl" alt="Property Image">
            <div class="card-body">
                <h5 class="card-title mt-1">@property.Title</h5>
                <p class="mb-0">Description: @property.Description</p>
                <p class="mb-0">City: @property.City</p>
                <p class="mb-0">Price: @property.Price</p>
                <p class="mb-0">Square Meters: @property.SquareMeters</p>
                <p>Property Type: @property.PropertyType</p>
            </div>
            <form class="input-group-sm" asp-controller="Property" asp-action="Details" asp-route-PropertyId="@property.Id">
                <input class="btn btn-info" type="submit" value="Details" />
            </form>
            <form class="input-group-sm" asp-controller="Property" asp-action="Edit" asp-route-PropertyId="@property.Id">
                <input class="btn btn-warning" type="submit" value="Edit" />
            </form>
            <form asp-action="Delete" asp-controller="Property" method="post">
                <input name="id" type="hidden" value="@property.Id" />
                <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this Product: @property.Title')">Remove</button>
            </form>
        </div>
    }
</div>