@model IEnumerable<MyPropertyViewModel>

@{
    ViewBag.Title = "My Properties";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="text-center row">
    @foreach (var property in Model)
    {
        <div class="card col-4" style="width: 20rem; ">
            <img class="card-img-top" style="width: 18rem;"
                 src="@property.ImageUrl" alt="Property Image">
            <div class="card-body">
                <h5 class="card-title mt-1">@property.Title</h5>
                <p class="mb-0">Description: @property.Description</p>
                <p class="mb-0">City: @property.City</p>
                <p class="mb-0">Price: @property.Price</p>
                <p class="mb-0">Square Meters: @property.SquareMeters</p>
                <p>Property Type: @property.PropertyType</p>
            </div>

            <form class="input-group-sm" asp-controller="Property" asp-action="Edit" asp-route-PropertyId="@property.Id">
                <input class="fs-6 btn btn-success mb-3 p-2" type="button" value="Edit" />
            </form>
            <form class="input-group-sm" asp-controller="Property" asp-action="RemoveFromCollection" asp-route-PropertyId="@property.Id">
                <input class="fs-6 btn btn-success mb-3 p-2" type="button" value="Remove from Collection" />
            </form>
        </div>
    }
</div>